body{
background-color:black;
}
.lielakaste1{
text-align:center;
border-style:solid;
border-color:white;
margin-top:2%;
margin-right:5%;
margin-left:5%;
padding:3%;
}
.lielakaste2{
border-style:solid;
border-color:white;
margin-top:2%;
margin-right:5%;
margin-left:5%;
  padding:2%;
}
.button1{
  background-color:white;
  color:black;
  margin-top:1%;
  text-align: center;
  padding:1%;
  border-radius: 2px;
}
.button2{
  background-color:white;
  color:black;
  margin-top:1%;
  text-align: center;
  padding:1%;
  border-radius: 2px;
}
.button3{
  background-color:white;
  color:black;
  margin-top:1%;
  text-align: center;
  padding:1%;
  border-radius: 2px;
}
.button4{
  color:white;
  margin-top:1%;
  text-align: center;
  padding:1%;
}
.button5{
  color:white;
  margin-top:1%;
  text-align: center;
  padding:1%;
}
.button6{
  color:white;
  margin-top:1%;
  text-align: center;
  padding:1%;
}
.kaste1{
border-style:solid;
border-color:white;
padding:3%;
margin-bottom:2%;
}
.kaste2{
border-style:solid;
border-color:white;
padding:3%;
  margin-bottom:2%;
}
.kaste3{
border-style:solid;
border-color:white;
padding:3%;
  margin-bottom:2%;
}
h1{
color:white;
  font-size:200 px;
}
h2{
color:white;
}
img {
  width:500px;
  height:auto;
}
