body{
background-color:black;
padding:5%;
}
.kaste1{
  background-color:black;
  border-style:solid;
  border-color:white;
  padding:2%;
  /*margin-right:3%;
  margin-left:3%;
  margin-top:3%;
  margin-bottom:3%;*/
}
.visasgal{
padding:3%;
border-style:solid;
border-color:white;
display:flex;
background-color:black;
}
.kolonna1{
flex:25%;
}
.kolonna2{
flex:25%;
}
.kolonna3{
flex:25%;
}
img{
  height:150px;
  width:auto;
}
