body{
background-color:white;
padding:5%;
}
.zimesanagal{
padding:5%;
border-style:solid;
border-color:blue;
display:flex;
flex:wrap;
flex-direction:row;
background-color:black;
}
.kolonna1{
flex:25%;
backround-color:white;
border-style:solid;
border-color:blue;
}
.kolonna2{
flex:25%;
}
.kolonna3{
flex:25%;
}
img{
  height:200px;
  width:auto;
}
