body{
background-color:white;
padding:5%;
}
.melns{
background-color:black;
}
.zimesanagal{
padding:5%;
border-style:solid;
border-color:blue;
display:flex;
/*flex:wrap;
flex-direction:row;*/
background-color:white;
}
.kolonna1{
flex:25%;
}
.kolonna2{
flex:25%;
}
.kolonna3{
flex:25%;
}
img{
  height:200px;
  width:auto;
}
